@model IEnumerable<OnlineSurveys.Web.Models.QuestionnaireViewModel>

@{
    ViewData["Title"] = "Questionários disponíveis";
}

<h1>@ViewData["Title"]</h1>

@if (!Model.Any())
{
    <p>Nenhum questionário cadastrado.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Início</th>
                <th>Término</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var q in Model)
            {
                <tr>
                    <td>@q.Title</td>
                    <td>@q.StartsAt.ToString("dd/MM/yyyy")</td>
                    <td>@q.EndsAt.ToString("dd/MM/yyyy")</td>
                </tr>
            }
        </tbody>
    </table>
}
